.footer {
  @include clearfix;
  height: 76px;
  margin-left: auto;
  margin-right: auto;
  background-color: #303441;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666d89;

  div.copyright {
    width: 500px;
    padding-top: 33px;

    a {
      text-decoration: none;
      color: #666d89;
    }
  }

  nav{
    float: right;
    width: 200px;
    margin-top: -25px;
  }
}

section.footer {
  background-color: #303441;
}