.gallery{
  background: #303441;
  font-family: 'Lato', sans-serif;

  h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 700;
}
p{
  font-size: 18px;
  color: #666d89;
  font-weight: 400;
}
li{
  display: block;
  width: 25%;
  height: 100%;
}
  a {
    text-decoration: none;
    color: #666d89}}
li{

}