header {
  width: 100%;
  background: #303441;
  nav {
    & > a {
      font-family: 'Lato', sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 93px;
    }

    ul {
      float: right;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 700;
      li {
        display: inline-block;
        line-height: 89px;
      }
      a {
        color: white;
        text-decoration: none;
        @include transition-property(all);
        @include transition-duration(700ms);

        &:hover {
          color: #eb5055;
          @include opacity(0.7);
        }
      }
    }

    span {
      color: #eb5055;
    }

    li:after {
      content: '·';
      margin: 0 10px;
      color: #494e62;
    }

    li:last-child:after {
      content: '';
    }
  }

  a {
    line-height: 93px;
    text-decoration: none;
    color: white;

  }
}