.placeholder{
  ::-webkit-input-placeholder {color:#e47376;}
  ::-moz-placeholder          {color:#e47376;}
  :-moz-placeholder           {color:#e47376;}
  :-ms-input-placeholder      {color:#e47376;}

}
