@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
/* line 3, ../scss/lib/_rs.scss */
.royalSlider {
  width: 1020px;
  height: 600px;
  position: relative;
  direction: ltr;
}

/* line 10, ../scss/lib/_rs.scss */
.royalSlider > * {
  float: left;
}

/* line 14, ../scss/lib/_rs.scss */
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}

/* line 28, ../scss/lib/_rs.scss */
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}

/* line 33, ../scss/lib/_rs.scss */
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}

/* line 36, ../scss/lib/_rs.scss */
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 44, ../scss/lib/_rs.scss */
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 53, ../scss/lib/_rs.scss */
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 59, ../scss/lib/_rs.scss */
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 67, ../scss/lib/_rs.scss */
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}

/* line 71, ../scss/lib/_rs.scss */
.rsThumb {
  float: left;
  position: relative;
}

/* line 79, ../scss/lib/_rs.scss */
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

/* line 88, ../scss/lib/_rs.scss */
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}

/* Fullscreen options, very important ^^ */
/* line 95, ../scss/lib/_rs.scss */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* line 108, ../scss/lib/_rs.scss */
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}

/* line 117, ../scss/lib/_rs.scss */
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 129, ../scss/lib/_rs.scss */
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}

/* line 133, ../scss/lib/_rs.scss */
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 139, ../scss/lib/_rs.scss */
.rsPreloader {
  position: absolute;
  z-index: 0;
}

/* line 144, ../scss/lib/_rs.scss */
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 149, ../scss/lib/_rs.scss */
.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

/* line 153, ../scss/lib/_rs.scss */
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}

/* line 160, ../scss/lib/_rs.scss */
.rsTabs {
  float: left;
  background: none !important;
}

/* line 165, ../scss/lib/_rs.scss */
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 171, ../scss/lib/_rs.scss */
.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}

/* line 186, ../scss/lib/_rs.scss */
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}

/* line 194, ../scss/lib/_rs.scss */
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}

/* line 200, ../scss/lib/_rs.scss */
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ios controls over video bug, shifting video */
/* line 211, ../scss/lib/_rs.scss */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}

/* line 218, ../scss/lib/_rs.scss */
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}

/* line 226, ../scss/lib/_rs.scss */
img.rsImg {
  max-width: none;
}

/* line 230, ../scss/lib/_rs.scss */
.grab-cursor {
  cursor: url(../../images/grab.png) 8 8, move;
}

/* line 234, ../scss/lib/_rs.scss */
.grabbing-cursor {
  cursor: url(../../images/grabbing.png) 8 8, move;
}

/* line 238, ../scss/lib/_rs.scss */
.rsNoDrag {
  cursor: auto;
}

/* line 242, ../scss/lib/_rs.scss */
.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(../../images/blank.gif);
}

/******************************
*
*  RoyalSlider Default Skin
*
*    1. Arrows
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*
*  Sprite: 'rs-default.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
*
******************************/
/* Background */
/* line 26, ../scss/lib/_rs-default.scss */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: #eb5055;
  color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/
/* line 38, ../scss/lib/_rs-default.scss */
.rsDefault .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}

/* line 46, ../scss/lib/_rs-default.scss */
.rsDefault.rsVer .rsArrow {
  width: 100%;
  height: 44px;
}

/* line 51, ../scss/lib/_rs-default.scss */
.rsDefault.rsVer .rsArrowLeft {
  top: 0;
  left: 0;
}

/* line 52, ../scss/lib/_rs-default.scss */
.rsDefault.rsVer .rsArrowRight {
  bottom: 0;
  left: 0;
}

/* line 54, ../scss/lib/_rs-default.scss */
.rsDefault.rsHor .rsArrowLeft {
  left: 0;
  top: 0;
}

/* line 55, ../scss/lib/_rs-default.scss */
.rsDefault.rsHor .rsArrowRight {
  right: 0;
  top: 0;
}

/* line 57, ../scss/lib/_rs-default.scss */
.rsDefault .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  background: url("../../images/rs-default1.png");
  opacity: 0.3;
  border-radius: 2px;
}

/* line 72, ../scss/lib/_rs-default.scss */
.rsDefault .rsArrowIcn:hover {
  opacity: 1;
}

/* line 76, ../scss/lib/_rs-default.scss */
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -64px -32px;
}

/* line 77, ../scss/lib/_rs-default.scss */
.rsDefault.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -64px -64px;
}

/* line 79, ../scss/lib/_rs-default.scss */
.rsDefault.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px;
}

/* line 80, ../scss/lib/_rs-default.scss */
.rsDefault.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px;
}

/***************
*
*  2. Bullets
*
****************/
/* line 90, ../scss/lib/_rs-default.scss */
.rsDefault .rsBullets {
  position: absolute;
  z-index: 35;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 8px;
  overflow: hidden;
}

/* line 106, ../scss/lib/_rs-default.scss */
.rsDefault .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 6px 5px 6px;
}

/* line 114, ../scss/lib/_rs-default.scss */
.rsDefault .rsBullet span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5);
}

/* line 122, ../scss/lib/_rs-default.scss */
.rsDefault .rsBullet.rsNavSelected span {
  background-color: #ca4549;
}

/***************
*
*  3. Thumbnails
*
****************/
/* line 136, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsHor {
  width: 100%;
  height: 72px;
}

/* line 140, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsVer {
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 147, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}

/* line 151, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}

/* line 155, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumb {
  float: left;
  overflow: hidden;
  width: 96px;
  height: 72px;
}

/* line 161, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumb img {
  width: 100%;
  height: 100%;
}

/* line 165, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumb.rsNavSelected {
  background: #02874a;
}

/* line 168, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumb.rsNavSelected img {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 172, ../scss/lib/_rs-default.scss */
.rsDefault .rsTmb {
  display: block;
}

/* Thumbnails with text */
/* line 177, ../scss/lib/_rs-default.scss */
.rsDefault .rsTmb h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #FFF;
}

/* line 184, ../scss/lib/_rs-default.scss */
.rsDefault .rsTmb span {
  color: #DDD;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

/* Thumbnails arrow icons */
/* line 195, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsArrow {
  height: 100%;
  width: 20px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
}

/* line 205, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsArrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* line 208, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 20px;
}

/* line 212, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft {
  top: 0;
  left: 0;
}

/* line 213, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight {
  bottom: 0;
  left: 0;
}

/* line 215, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft {
  left: 0;
  top: 0;
}

/* line 216, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight {
  right: 0;
  top: 0;
}

/* line 218, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsArrowIcn {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  position: absolute;
  cursor: pointer;
  background: url("../../images/rs-default.png");
}

/* line 230, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -128px -32px;
}

/* line 231, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -128px -48px;
}

/* line 233, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
  background-position: -144px -32px;
}

/* line 234, ../scss/lib/_rs-default.scss */
.rsDefault.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
  background-position: -144px -48px;
}

/* line 236, ../scss/lib/_rs-default.scss */
.rsDefault .rsThumbsArrowDisabled {
  display: none !important;
}

/* Thumbnails resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 800px) {
  /* line 240, ../scss/lib/_rs-default.scss */
  .rsDefault .rsThumb {
    width: 59px;
    height: 44px;
  }

  /* line 244, ../scss/lib/_rs-default.scss */
  .rsDefault .rsThumbsHor {
    height: 44px;
  }

  /* line 247, ../scss/lib/_rs-default.scss */
  .rsDefault .rsThumbsVer {
    width: 59px;
  }
}
/***************
*
*  4. Tabs
*
****************/
/* line 261, ../scss/lib/_rs-default.scss */
.rsDefault .rsTabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: 12px;
  position: relative;
}

/* line 268, ../scss/lib/_rs-default.scss */
.rsDefault .rsTab {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: auto;
  width: auto;
  color: #333;
  padding: 5px 13px 6px;
  min-width: 72px;
  border: 1px solid #D9D9DD;
  border-right: 1px solid #f5f5f5;
  text-decoration: none;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
  background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
  -webkit-box-shadow: inset 1px 0 0 #fff;
  box-shadow: inset 1px 0 0 #fff;
  *display: inline;
  *zoom: 1;
}

/* line 292, ../scss/lib/_rs-default.scss */
.rsDefault .rsTab:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 298, ../scss/lib/_rs-default.scss */
.rsDefault .rsTab:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #cfcfcf;
}

/* line 306, ../scss/lib/_rs-default.scss */
.rsDefault .rsTab:active {
  border: 1px solid #D9D9DD;
  background-color: #f4f4f4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
}

/* line 311, ../scss/lib/_rs-default.scss */
.rsDefault .rsTab.rsNavSelected {
  color: #FFF;
  border: 1px solid #999;
  text-shadow: 1px 1px #838383;
  box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset;
  background: #ACACAC;
  background-image: -webkit-linear-gradient(top, #acacac, #bbbbbb);
  background-image: -moz-llinear-gradient(top, #acacac, #bbbbbb);
  background-image: linear-gradient(to bottom, #acacac, #bbbbbb);
}

/***************
*
*  5. Fullscreen button
*
****************/
/* line 332, ../scss/lib/_rs-default.scss */
.rsDefault .rsFullscreenBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 22;
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 343, ../scss/lib/_rs-default.scss */
.rsDefault .rsFullscreenIcn {
  display: block;
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("rs-default.png") 0 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px;
}

/* line 356, ../scss/lib/_rs-default.scss */
.rsDefault .rsFullscreenIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 359, ../scss/lib/_rs-default.scss */
.rsDefault.rsFullscreen .rsFullscreenIcn {
  background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/
/* line 373, ../scss/lib/_rs-default.scss */
.rsDefault .rsPlayBtn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  cursor: pointer;
}

/* line 381, ../scss/lib/_rs-default.scss */
.rsDefault .rsPlayBtnIcon {
  width: 64px;
  display: block;
  height: 64px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background: url(rs-default.png) no-repeat 0 -32px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 397, ../scss/lib/_rs-default.scss */
.rsDefault .rsPlayBtn:hover .rsPlayBtnIcon {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 400, ../scss/lib/_rs-default.scss */
.rsDefault .rsBtnCenterer {
  position: absolute;
  left: 50%;
  top: 50%;
}

/* line 405, ../scss/lib/_rs-default.scss */
.rsDefault .rsCloseVideoBtn {
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  z-index: 500;
  position: absolute;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

/* line 417, ../scss/lib/_rs-default.scss */
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
  top: -38px;
  right: -6px;
}

/* line 422, ../scss/lib/_rs-default.scss */
.rsDefault .rsCloseVideoIcn {
  margin: 6px;
  width: 32px;
  height: 32px;
  background: url("../../images/rs-default.png") -64px 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
}

/* line 431, ../scss/lib/_rs-default.scss */
.rsDefault .rsCloseVideoIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/
/* line 443, ../scss/lib/_rs-default.scss */
.rsDefault .rsPreloader {
  width: 20px;
  height: 20px;
  background-image: url(../../images/preloader-white.gif);
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

/***************
*
*  8. Global caption
*
****************/
/* line 462, ../scss/lib/_rs-default.scss */
.rsDefault .rsGCaption {
  position: absolute;
  float: none;
  bottom: 6px;
  left: 6px;
  text-align: left;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  color: #FFF;
  padding: 2px 8px;
  width: auto;
  font-size: 12px;
  border-radius: 2px;
}

/* line 6, ../scss/_base.scss */
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

/* line 2, ../scss/components/_service.scss */
.service {
  padding: 5%;
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
}
/* line 8, ../scss/components/_service.scss */
.service h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #666d89;
}
/* line 15, ../scss/components/_service.scss */
.service h3 {
  font-size: 18px;
  font-weight: 700;
  color: #666d89;
}
/* line 20, ../scss/components/_service.scss */
.service p {
  padding-top: 3%;
  font-size: 12px;
  color: #666d89;
  font-weight: 400;
  line-height: 20px;
}
/* line 28, ../scss/components/_service.scss */
.service span {
  font-size: 18px;
  font-weight: 300;
  color: #666d89;
  line-height: 30px;
}
/* line 35, ../scss/components/_service.scss */
.service li {
  float: left;
  width: 33%;
  height: 100%;
  padding-top: 50px;
}
/* line 41, ../scss/components/_service.scss */
.service img {
  float: left;
}

/* line 47, ../scss/components/_service.scss */
section.our-service {
  background-color: #f2f2f2;
}

/* line 2, ../scss/components/_social_btn.scss */
.social_btn li {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 1px solid  #666d89;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1000ms;
  -moz-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
}
/* line 13, ../scss/components/_social_btn.scss */
.social_btn li:hover {
  border: 2px solid #666d89;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #8f9297;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 1, ../scss/components/_input.scss */
input {
  width: 620px;
  height: 38px;
  margin: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ca4549;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #e47376;
}

/* line 15, ../scss/components/_input.scss */
textarea {
  width: 620px;
  height: 200px;
  margin: 5px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ca4549;
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #e47376;
}

/* line 1, ../scss/components/_container.scss */
.container {
  width: 1020px;
  margin: 0 auto;
}

/* line 1, ../scss/widgets/_header.scss */
header {
  width: 100%;
  background: #303441;
}
/* line 5, ../scss/widgets/_header.scss */
header nav > a {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 93px;
}
/* line 12, ../scss/widgets/_header.scss */
header nav ul {
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
/* line 17, ../scss/widgets/_header.scss */
header nav ul li {
  display: inline-block;
  line-height: 89px;
}
/* line 21, ../scss/widgets/_header.scss */
header nav ul a {
  color: white;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}
/* line 27, ../scss/widgets/_header.scss */
header nav ul a:hover {
  color: #eb5055;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 34, ../scss/widgets/_header.scss */
header nav span {
  color: #eb5055;
}
/* line 38, ../scss/widgets/_header.scss */
header nav li:after {
  content: '·';
  margin: 0 10px;
  color: #494e62;
}
/* line 44, ../scss/widgets/_header.scss */
header nav li:last-child:after {
  content: '';
}
/* line 49, ../scss/widgets/_header.scss */
header a {
  line-height: 93px;
  text-decoration: none;
  color: white;
}

/* line 1, ../scss/widgets/_footer.scss */
footer {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  background-color: #303441;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666d89;
}

/* line 12, ../scss/widgets/_footer.scss */
div.footer {
  width: 270px;
  height: 20px;
  padding-top: 35px;
  padding-left: 20px;
  text-align: left;
}

/* line 20, ../scss/widgets/_footer.scss */
a {
  text-decoration: none;
  color: #666d89;
}

/* line 25, ../scss/widgets/_footer.scss */
nav.footer {
  float: right;
  width: 150px;
  margin-top: -35px;
}

/* line 32, ../scss/widgets/_footer.scss */
section.footer {
  background-color: #303441;
}

/* line 1, ../scss/layouts/_gallery.scss */
.gallery {
  margin-left: auto;
  margin-right: auto;
  padding: 60px 35px 70px 35px;
  background: #303441;
  font-family: 'Lato', sans-serif;
}
/* line 8, ../scss/layouts/_gallery.scss */
.gallery h2 {
  padding-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  color: #666d89;
}
/* line 14, ../scss/layouts/_gallery.scss */
.gallery p {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #666d89;
}
/* line 22, ../scss/layouts/_gallery.scss */
.gallery .navigation li {
  display: inline-block;
  margin: 5px;
}
/* line 26, ../scss/layouts/_gallery.scss */
.gallery .navigation li a {
  padding: 3px;
  border: 1px solid #666d89;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  color: #767e9e;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}
/* line 37, ../scss/layouts/_gallery.scss */
.gallery .navigation li a:hover {
  border: 1px solid white;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 47, ../scss/layouts/_gallery.scss */
.gallery div {
  padding: 7px;
}
/* line 50, ../scss/layouts/_gallery.scss */
.gallery figure {
  position: relative;
  display: inline-block;
  margin: 7px;
}
/* line 55, ../scss/layouts/_gallery.scss */
.gallery figure:hover figcaption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 60, ../scss/layouts/_gallery.scss */
.gallery figure img {
  width: 100%;
}
/* line 64, ../scss/layouts/_gallery.scss */
.gallery figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 76, ../scss/layouts/_gallery.scss */
.gallery figure p {
  padding: 40px;
  font-size: 15px;
  font-weight: 700;
  color: #085b12;
  text-align: center;
}

/* line 87, ../scss/layouts/_gallery.scss */
section.portfolio {
  background: #303441;
}

/* line 1, ../scss/layouts/_about.scss */
.about {
  height: 700px;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 50px;
  background: #f2f2f2;
  font-family: Lato, sans-serif;
  color: #666d89;
}
/* line 10, ../scss/layouts/_about.scss */
.about h2 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
}
/* line 16, ../scss/layouts/_about.scss */
.about p.about-us {
  font-size: 18px;
  font-weight: 300;
}
/* line 20, ../scss/layouts/_about.scss */
.about p {
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  padding-bottom: 15px;
}
/* line 26, ../scss/layouts/_about.scss */
.about figure {
  display: inline-block;
  float: left;
  width: 33%;
  padding-top: 50px;
}
/* line 31, ../scss/layouts/_about.scss */
.about figure figcaption {
  width: 300px;
}
/* line 33, ../scss/layouts/_about.scss */
.about figure figcaption h3 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

/* line 45, ../scss/layouts/_about.scss */
section.abouto {
  border-top: 5px solid #373b4a;
  background: #f2f2f2;
}

/* line 1, ../scss/layouts/_form.scss */
.form {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #eb5055;
  font-family: Lato, sans-serif;
}
/* line 9, ../scss/layouts/_form.scss */
.form h2 {
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 30px;
  color: #f0d8d9;
}
/* line 16, ../scss/layouts/_form.scss */
.form h3 {
  font-size: 18px;
  font-weight: 700;
  color: #f0d8d9;
}
/* line 21, ../scss/layouts/_form.scss */
.form p {
  padding-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #f0d8d9;
  line-height: 35px;
}
/* line 28, ../scss/layouts/_form.scss */
.form p.formus {
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #f0d8d9;
  line-height: 25px;
  text-align: justify;
}
/* line 38, ../scss/layouts/_form.scss */
.form form {
  float: left;
  width: 630px;
}
/* line 42, ../scss/layouts/_form.scss */
.form form a {
  float: right;
  padding: 5px;
  border: 2px solid #e47376;
  border-radius: 7px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #f0d8d9;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}
/* line 54, ../scss/layouts/_form.scss */
.form form a:hover {
  border: 2px solid #f8acff;
  border-radius: 7px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 61, ../scss/layouts/_form.scss */
.form form div.form {
  float: right;
  width: 280px;
  height: 320px;
}
/* line 67, ../scss/layouts/_form.scss */
.form form input {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  color: #ecfdff;
}
/* line 71, ../scss/layouts/_form.scss */
.form form input:hover {
  background: #bc0800;
  opacity: 0.3;
}
/* line 78, ../scss/layouts/_form.scss */
.form form textarea {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
  color: #ecfdff;
}
/* line 82, ../scss/layouts/_form.scss */
.form form textarea:hover {
  background: #bc0800;
  opacity: 0.3;
}

/* line 90, ../scss/layouts/_form.scss */
section.forms {
  border-bottom: 5px solid #ea676b;
  background-color: #eb5055;
}

/* line 95, ../scss/layouts/_form.scss */
form {
  padding-right: 50px;
}

/* line 102, ../scss/layouts/_form.scss */
ul.contact-info li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #f0d8d9;
  font-size: 12px;
  float: left;
}
/* line 109, ../scss/layouts/_form.scss */
ul.contact-info li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #f0d8d9;
  font-size: 12px;
}
/* line 117, ../scss/layouts/_form.scss */
ul.contact-info li img {
  float: inherit;
  padding-right: 5px;
}

/* line 2, ../scss/layouts/_royalSlider.scss */
.royalSlider {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../scss/layouts/_royalSlider.scss */
.royalSlider .rsOverflow.rsOverflow {
  width: 100% !important;
}
/* line 10, ../scss/layouts/_royalSlider.scss */
.royalSlider .rsNav.rsBullets {
  display: none;
}

/* line 16, ../scss/layouts/_royalSlider.scss */
.slider {
  border-top: 5px solid #373b4a;
  border-bottom: 5px solid #ea676b;
  background-color: #eb5055;
}

/* line 2, ../scss/mixins/_placeborder.scss */
.placeholder ::-webkit-input-placeholder {
  color: #e47376;
}
/* line 3, ../scss/mixins/_placeborder.scss */
.placeholder ::-moz-placeholder {
  color: #e47376;
}
/* line 4, ../scss/mixins/_placeborder.scss */
.placeholder :-moz-placeholder {
  color: #e47376;
}
/* line 5, ../scss/mixins/_placeborder.scss */
.placeholder :-ms-input-placeholder {
  color: #e47376;
}

/* line 2, ../scss/mixins/_user-select.scss */
.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}
